body {
    background-color: cornsilk;
    position: relative;
}

.dice {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 5px;
    font-size: 45px;
    color: white;
    background-color: blue;
    cursor: pointer;
}

.checked {
    background-color: orange;
    color: blue;
}