body {
    background-color: cornsilk;
    position: relative;
}

.container {
    display: inline-flex;
    border-top: 1px solid blue;
    width: 100%
}
.dice {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 5px;
    font-size: 45px;
    color: white;
    background-color: blue;
    cursor: pointer;
}

.btn {
    position: relative;
    align-items: center;
    font-size: 15px;
    height: 60px;
    width: 60px;
    margin: 5px;
    padding: 5px;
    border: 1px solid blue;
}

.checked {
    background-color: orange;
    color: blue;
}

.turn {
    display: inline-flex;
    position: relative;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    font-size: 25px; 
}