body {
    background-color: cornsilk;
    position: relative;
}

.container {
    display: inline-flex;
}
.dice {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 5px;
    font-size: 45px;
    color: white;
    background-color: blue;
    cursor: pointer;
}

.btn {
    position: relative;
    align-items: center;
    font-size: 15px;
    height: 60px;
    width: 60px;
    margin: 5px;
    padding: 5px;
}

.checked {
    background-color: orange;
    color: blue;
}